<ion-header>
    <ion-navbar>
        <ion-title>{{"Order-Details" | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <img class="" src="{{orderDetails.item.thumb}}">
    <div class="card-title">{{orderDetails.item.title}}</div>
    <div class="details">
        <h4>{{"Order Details" | translate}}</h4>
        <p class="order-desc">{{"Order Id:" | translate}} <span class="data">{{orderId}}</span></p>
        <p class="order-desc">{{"Quantity:" | translate}} <span class="data">{{orderDetails.item.itemQunatity }}</span>
        </p>
        <p class="order-desc">{{"Amount Paid:" | translate}}
            <ion-icon class="check" name="checkmark"></ion-icon>
            &nbsp;<span class="amount">${{orderDetails.itemTotalPrice}}</span> <!-- <span class="pay" *ngIf="!orderDetails.cod">{{"through debit cart" | translate}}</span><span
        class="pay" *ngIf="orderDetails.cod">{{"Cash on Delivery" | translate}}</span> --></p>
        <div *ngIf="orderDetails.item.review">
            <p>Your Rating <span class="product-rating">
        <rating name="rating" id="rating"
                [(ngModel)]="orderDetails.item.review.rating" readOnly="true"
                max="5"
                emptyStarIconName="star-outline"
                halfStarIconName="star-half"
                starIconName="star"
                nullable="false"
        ></rating>
      </span></p>
            <p>Your Review- <span>{{orderDetails.item.review.comment}}</span></p>
        </div>
    </div>
    <!--rate button-->

    <button ion-button full class="rating-Button" *ngIf="!orderDetails.item.review"
            (click)="rate(orderDetails.item.itemId)"> Rate Product
    </button>

    <!--buy button-->

    <button ion-button icon-left full class="btn-add-to-cart" (click)="buyAgain(orderDetails.item.itemId)">
        <ion-icon name="cart"></ion-icon>
        {{"BUY AGAIN" | translate}}
    </button>

</ion-content>
